img {
  position: absolute;
}
#arch {
  top: 100px;
  left: 100px;
}
#tech {
  /* bottom: 100px; */
  /* right: 100px; */
  top: calc(100% - 300px);
  left: calc(100% - 300px);
}
#animals {
  top: 100px;
  /* right: 100px; */
  left: calc(100% - 300px);
}
#nature {
  left: 100px;
  /* bottom: 100px; */
  top: calc(100% - 300px);
}
