body {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    '. navigation main aside .'
    'footer footer footer footer footer';
    grid-template-columns: 5% 10% 70% 10% 5%;
}

.caption, .gridHeader, .gridNav, .gridMain, .gridAside, .gridFooter {
    padding: 20px;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-area: header;
}

.gridNav {
    background-color: #c6c0ff;
    grid-area: navigation;
}

.gridMain {
    background-color: #f9f6d2;
    grid-area: main;
}

.gridAside {
    background-color: #d4ffd1;
    grid-area: aside;
}

.gridFooter {
    background-color: #ffd1d1;
    grid-area: footer;
}

@media screen and (max-width: 786px) {
    .grid {
        grid-template-areas: 
        'header'
        'navigation'
        'main'
        'aside'
        'footer';
        grid-template-columns: 100%;
    }
}